{% extends "base.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    <div>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
      {{ form.remember_me() }}
      {{ form.remember_me.label }}
      {{ form.submit() }}
  </form>
{% endblock %}

<!-- <span style="color:red;"> -->
