{% extends "base.html" %}
{% block title %} Add task {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>Add Task</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.title.label }}<br>
      {{ form.title(id="title") }}
      {% for error in form.title.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.deadline.label }}<br>
      {{ form.deadline(id="deadline") }}
      {% for error in form.deadline.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.description.label }}<br>
      {{ form.description(id="description") }}
      {% for error in form.description.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
      {{ form.submit() }}
  </form>
{% endblock %}
