{% extends "base.html" %}

{% block content %}
  <h1>Register Account</h1>
  <form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    <div>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}
      {% for error in form.email.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.password2.label }}<br>
      {{ form.password2(size=32) }}
      {% for error in form.password2.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
      {{ form.submit() }}
  </form>
{% endblock %}


